/** @format */

@font-face {
  font-family: "uewtk-icons";
  src: url("../font/uewtk-icons.eot?71352937");
  src:
    url("../font/uewtk-icons.eot?71352937#iefix") format("embedded-opentype"),
    url("../font/uewtk-icons.woff2?71352937") format("woff2"),
    url("../font/uewtk-icons.woff?71352937") format("woff"),
    url("../font/uewtk-icons.ttf?71352937") format("truetype"),
    url("../font/uewtk-icons.svg?71352937#uewtk-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'uewtk-icons';
    src: url('../font/uewtk-icons.svg?71352937#uewtk-icons') format('svg');
  }
}
*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "uewtk-icons";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-music:before {
  content: "\e800";
} /* '' */
.icon-search:before {
  content: "\e801";
} /* '' */
.icon-mail:before {
  content: "\e802";
} /* '' */
.icon-heart:before {
  content: "\e803";
} /* '' */
.icon-star:before {
  content: "\e804";
} /* '' */
.icon-user:before {
  content: "\e805";
} /* '' */
.icon-videocam:before {
  content: "\e806";
} /* '' */
.icon-camera:before {
  content: "\e807";
} /* '' */
.icon-photo:before {
  content: "\e808";
} /* '' */
.icon-attach:before {
  content: "\e809";
} /* '' */
.icon-eye:before {
  content: "\e80a";
} /* '' */
.icon-tag:before {
  content: "\e80b";
} /* '' */
.icon-thumbs-up:before {
  content: "\e80c";
} /* '' */
.icon-comment:before {
  content: "\e80d";
} /* '' */
.icon-location:before {
  content: "\e80e";
} /* '' */
.icon-trash:before {
  content: "\e80f";
} /* '' */
.icon-note:before {
  content: "\e810";
} /* '' */
.icon-params:before {
  content: "\e811";
} /* '' */
.icon-clock:before {
  content: "\e812";
} /* '' */
.icon-inbox:before {
  content: "\e813";
} /* '' */
.icon-paper-plane:before {
  content: "\e814";
} /* '' */
.icon-globe:before {
  content: "\e815";
} /* '' */
.icon-cloud:before {
  content: "\e816";
} /* '' */
.icon-database:before {
  content: "\e817";
} /* '' */
.icon-megaphone:before {
  content: "\e818";
} /* '' */
.icon-graduation-cap:before {
  content: "\e819";
} /* '' */
.icon-beaker:before {
  content: "\e81a";
} /* '' */
.icon-key:before {
  content: "\e81b";
} /* '' */
.icon-truck:before {
  content: "\e81c";
} /* '' */
.icon-money:before {
  content: "\e81d";
} /* '' */
.icon-food:before {
  content: "\e81e";
} /* '' */
.icon-shop:before {
  content: "\e81f";
} /* '' */
.icon-t-shirt:before {
  content: "\e820";
} /* '' */
.icon-wallet:before {
  content: "\e821";
} /* '' */
.icon-pencil:before {
  content: "\e822";
} /* '' */
.icon-diamond:before {
  content: "\e823";
} /* '' */
.icon-lock:before {
  content: "\e824";
} /* '' */
.icon-glass:before {
  content: "\e825";
} /* '' */
.icon-music-1:before {
  content: "\e826";
} /* '' */
.icon-search-1:before {
  content: "\e827";
} /* '' */
.icon-mail-1:before {
  content: "\e828";
} /* '' */
.icon-heart-1:before {
  content: "\e829";
} /* '' */
.icon-heart-empty:before {
  content: "\e82a";
} /* '' */
.icon-star-1:before {
  content: "\e82b";
} /* '' */
.icon-star-empty:before {
  content: "\e82c";
} /* '' */
.icon-star-half:before {
  content: "\e82d";
} /* '' */
.icon-users:before {
  content: "\e82e";
} /* '' */
.icon-user-1:before {
  content: "\e82f";
} /* '' */
.icon-video:before {
  content: "\e830";
} /* '' */
.icon-videocam-1:before {
  content: "\e831";
} /* '' */
.icon-picture:before {
  content: "\e832";
} /* '' */
.icon-camera-1:before {
  content: "\e833";
} /* '' */
.icon-camera-alt:before {
  content: "\e834";
} /* '' */
.icon-th-large:before {
  content: "\e835";
} /* '' */
.icon-th:before {
  content: "\e836";
} /* '' */
.icon-th-list:before {
  content: "\e837";
} /* '' */
.icon-ok-circled:before {
  content: "\e838";
} /* '' */
.icon-tags:before {
  content: "\e839";
} /* '' */
.icon-ok:before {
  content: "\e83a";
} /* '' */
.icon-bookmark:before {
  content: "\e83b";
} /* '' */
.icon-flag:before {
  content: "\e83c";
} /* '' */
.icon-ok-circled2:before {
  content: "\e83d";
} /* '' */
.icon-bookmark-empty:before {
  content: "\f097";
} /* '' */
.icon-mail-alt:before {
  content: "\f0e0";
} /* '' */
.icon-star-half-alt:before {
  content: "\f123";
} /* '' */
.icon-ok-squared:before {
  content: "\f14a";
} /* '' */
.icon-female:before {
  content: "\f182";
} /* '' */
.icon-male:before {
  content: "\f183";
} /* '' */
.icon-mail-squared:before {
  content: "\f199";
} /* '' */
.icon-child:before {
  content: "\f1ae";
} /* '' */
.icon-user-secret:before {
  content: "\f21b";
} /* '' */
.icon-user-plus:before {
  content: "\f234";
} /* '' */
.icon-user-times:before {
  content: "\f235";
} /* '' */
