/** @format */
:root {
  --primary-color: #01846c;
  --secondary-color: #ffffff;
}

.uewtk-label::after {
  content: "UEWTK";
  position: absolute;
  top: 3px;
  right: 3px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 7px;
  padding: 2px 4px;
  border-radius: 10px;
  line-height: 10px;
  font-family: "Kanit", "Open Sans", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 600;
  display: inline-block;
}
