/** @format */

@font-face {
  font-family: "uewtk";
  src: url("../fonts/uewtk_font.woff2") format("woff2"),
    url("../fonts/uewtk_font.woff") format("woff"),
    url("../fonts/uewtk_font.eot#iefix") format("embedded-opentype"),
    url("../fonts/uewtk_font.ttf") format("truetype"),
    url("../fonts/uewtk_font.svg?") format("svg");
}

i[class^="uewtk-"]:before,
i[class*=" uewtk-"]:before {
  font-family: uewtk !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.uewtk-concentration:before {
  content: "\f101";
}
.uewtk-sharing:before {
  content: "\f102";
}
.uewtk-diagonal:before {
  content: "\f103";
}
.uewtk-search:before {
  content: "\f104";
}
.uewtk-phone-book:before {
  content: "\f105";
}
.uewtk-menu:before {
  content: "\f106";
}
.uewtk-cooperation:before {
  content: "\f107";
}
.uewtk-connections:before {
  content: "\f108";
}
.uewtk-right-arrow:before {
  content: "\f109";
}
.uewtk-merging:before {
  content: "\f10a";
}
.uewtk-quotes:before {
  content: "\f10b";
}
.uewtk-next-button:before {
  content: "\f10c";
}
.uewtk-geometric:before {
  content: "\f10d";
}
.uewtk-geometric-1:before {
  content: "\f10e";
}
.uewtk-geometric-2:before {
  content: "\f10f";
}
.uewtk-geometric-3:before {
  content: "\f110";
}
.uewtk-geometric-4:before {
  content: "\f111";
}
.uewtk-triangle:before {
  content: "\f112";
}
.uewtk-geometric-5:before {
  content: "\f113";
}
.uewtk-3d-shapes:before {
  content: "\f114";
}
.uewtk-geometric-6:before {
  content: "\f115";
}
.uewtk-geometric-7:before {
  content: "\f116";
}
.uewtk-geometric-8:before {
  content: "\f117";
}
.uewtk-megaphone:before {
  content: "\f118";
}
.uewtk-idea:before {
  content: "\f119";
}
.uewtk-contract:before {
  content: "\f11a";
}
.uewtk-idea-1:before {
  content: "\f11b";
}
.uewtk-customer-feedback:before {
  content: "\f11c";
}
.uewtk-solution:before {
  content: "\f11d";
}
.uewtk-flag:before {
  content: "\f11e";
}
.uewtk-telemarketer:before {
  content: "\f11f";
}
.uewtk-networking:before {
  content: "\f120";
}
.uewtk-computer:before {
  content: "\f121";
}
.uewtk-vulnerability:before {
  content: "\f122";
}
.uewtk-half:before {
  content: "\f123";
}
.uewtk-map-location:before {
  content: "\f124";
}
.uewtk-chat:before {
  content: "\f125";
}
.uewtk-call:before {
  content: "\f126";
}
.uewtk-quotation-marks:before {
  content: "\f127";
}

.uewtk-half:before {
  content: "\f101";
}
.uewtk-vulnerability:before {
  content: "\f102";
}
.uewtk-computer:before {
  content: "\f103";
}
.uewtk-networking:before {
  content: "\f104";
}
.uewtk-telemarketer:before {
  content: "\f105";
}
.uewtk-flag:before {
  content: "\f106";
}
.uewtk-solution:before {
  content: "\f107";
}
.uewtk-customer-feedback:before {
  content: "\f108";
}
.uewtk-idea-1:before {
  content: "\f109";
}
.uewtk-contract:before {
  content: "\f10a";
}
.uewtk-idea:before {
  content: "\f10b";
}
.uewtk-megaphone:before {
  content: "\f10c";
}
.uewtk-geometric-8:before {
  content: "\f10d";
}
.uewtk-geometric-7:before {
  content: "\f10e";
}
.uewtk-geometric-6:before {
  content: "\f10f";
}
.uewtk-3d-shapes:before {
  content: "\f110";
}
.uewtk-geometric-5:before {
  content: "\f111";
}
.uewtk-triangle:before {
  content: "\f112";
}
.uewtk-geometric-4:before {
  content: "\f113";
}
.uewtk-geometric-3:before {
  content: "\f114";
}
.uewtk-geometric-2:before {
  content: "\f115";
}
.uewtk-geometric-1:before {
  content: "\f116";
}
.uewtk-geometric:before {
  content: "\f117";
}
.uewtk-next-button:before {
  content: "\f118";
}
.uewtk-quotes:before {
  content: "\f119";
}
.uewtk-merging:before {
  content: "\f11a";
}
.uewtk-right-arrow:before {
  content: "\f11b";
}
.uewtk-connections:before {
  content: "\f11c";
}
.uewtk-cooperation:before {
  content: "\f11d";
}
.uewtk-menu:before {
  content: "\f11e";
}
.uewtk-phone-book:before {
  content: "\f11f";
}
.uewtk-search:before {
  content: "\f120";
}
.uewtk-diagonal:before {
  content: "\f121";
}
.uewtk-sharing:before {
  content: "\f122";
}
.uewtk-concentration:before {
  content: "\f123";
}
